@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    /* Paleta MetaMapa */
    --bg: #F2F7FA;
    --card: #E3EEF5;
    --muted: #C9DEEC;
    --accent: #AFCBE3;
    --brand-500: #86A8C2;
    --brand-800: #3B4F61;

    --radius-lg: 18px;
    --shadow-sm: 0 1px 6px rgba(0,0,0,.08);
    --shadow-md: 0 8px 22px rgba(0,0,0,.12);
}


.body-metamapa {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body.body-metamapa{
    font-family: 'OpenSans', sans-serif;
    color: #3B4F61;
    background-color: #F2F7FA;

}

#map { height: 420px; border-radius: 8px; }

/* FOOTER */
.footer-metamapa {
    background: #f8fafc;
    /*padding: 10px 40px;*/
    border-top: 1px solid rgba(0,0,0,0.05);
    font-size: 0.9rem;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, .06);
}

.footer-metamapa .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-metamapa .footer-align-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-metamapa .footer-logo {
    width: 65px;
    object-fit: contain;
}

.footer-metamapa .footer-link {
    color: var(--brand-800);
    text-decoration: none;
}

.footer-metamapa .footer-link:hover {
    text-decoration: underline;
}

.footer-metamapa .footer-text {
    color: #7c90a0;
}